*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cart-box-shadow{
  box-shadow: 0 26px 58px 0 rgba(84, 130, 255, 0.22), 0 5px 14px 0 rgba(0, 0, 0, .18);
}

.background-gradiant{
  background: rgb(255,255,255);
  background: linear-gradient(76deg, rgba(255,255,255,1) 0%, rgba(255,230,255,1) 53%, rgba(255,255,255,1) 100%);
}

.second-background-gradiant{
  background: rgb(254,234,255);
  background: linear-gradient(36deg, rgba(254,234,255,1) 0%, rgba(255,255,255,1) 49%, rgba(254,233,255,1) 100%);
}

.teachre-cart{
  max-height: 20rem;
  max-width: 20rem;
}

/* .navbaar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
} */

.collapse{
  margin-left: 18%;
}

.navbar-nav .nav-link:hover {
  color: #ff0000; 
  font-weight: bold;
}

.nav-link .nav-button-1:hover {
  font-weight: bold;
  background-color: #ffffff;
  border-color: #812dff;
  color: #812dff;
}


.navbar-nav .nav-button-2:hover{
  font-weight: bold;
  background-color: #ffffff;
  border-color: #812dff;
  color: #812dff;
}

.dark-mode{
  background: #000000;
  color: white;
}

.dark-mode-2{
  background: #272727;
  color: white;
}

.dark-light-btn{
  cursor: pointer;
}