
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Kanit:wght@300;400&family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;500&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  font-family: 'Kanit', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.nav-conatiner{
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-container{
    height: 650px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.logo-design{
    height: 210px;

}

/* not proper responsive */
.main-description{
    margin-left: 70px;
    margin-top: 125px;
 
}
/* not proper responsive */

.main-content{
    display: flex;
    gap: 5%;

}


.main-img{
    height: 500px;
    margin-top: 70px ;
    background: transparent;
 
}

.navbaar-container{
    display: flex;
    max-width: 90%;
    justify-content: space-between;
    margin: auto;
}

.button-62 {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }
  
  .button-62:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
  .button-62:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  .line{
    width: 140px;
    height: 1px;
    background-color: white;
  }
  .icon{
    height: 60px;
    margin-right: 5px;
  }