
.slider{
    height: 500px;
  
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 2s;
}
.slider .list img{
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}
  
  .line{
    width: 140px;
    height: 0.5px;
    background-color: blue;
  }


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .cart-box-shadow{
    box-shadow: 0 26px 58px 0 rgba(84, 130, 255, 0.22), 0 5px 14px 0 rgba(0, 0, 0, .18);
  }
  
  .background-gradiant{
    background: rgb(255,255,255);
    background: linear-gradient(76deg, rgba(255,255,255,1) 0%, rgba(255,230,255,1) 53%, rgba(255,255,255,1) 100%);
  }
  
  .second-background-gradiant{
    background: rgb(254,234,255);
    background: linear-gradient(36deg, rgba(254,234,255,1) 0%, rgba(255,255,255,1) 49%, rgba(254,233,255,1) 100%);
  }